<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wenear</title>
        <!-- Favicon-->
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
     
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '/css/styles.css'%}" rel="stylesheet" />
    </head>
    <style>
 
        *{
            font-family: 'Nunito', sans-serif;
    }
    .col-lg-5 { 
    flex: 0 0 auto;
    width: 100%;
  }
  /* 
    사진 width확장   
    */
  .img-fluid {
    max-width: 100%;
    height: auto;
}
    .imgs{
        display:flex;
    }
    </style>
    <body>
        <!-- Responsive navbar-->
        {%include 'html/nav.html'%}
      

        <!-- ################################################ -->
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5">
                    <h2 class="font-weight-light">{{product_list.title}}</h2>
                    <div class="imgs"style="margin-top: 20px;">
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{product_list.image.url}}" alt="..." /></div></div>
                        <br>
                    <span class="description1" style="margin-top: 20px;">
                        <h3>{{product_list.description1}}</h3>
                        <br>
                    </span>
                    
                    <a href="{{product_list.link}}" target="_blank">Buy From Feather</a><br>
                        
                        <span class="characteristic">
                            <b><h3>- characteristics: {{product_list.characteristic}}</h3></b>
                        </span>
                        <span class="description2">
                            <h3>- descrption: {{product_list.description2}}</h3>
                        </span>
                        <br>
                        Learn more: <a href="{{product_list.link}}" target="_blank">{{product_list.link}}</a>
                    <!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
                   
                        <!-- <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../static/elder2.jpg" alt="..." /></div> -->
                </div>
            </div>            
        </div>
        {%include 'html/reviewForm.html'%}
            <!-- Call to Action-->
            {%include 'html/newsForm.html'%}
        <!-- Footer-->
        {%include 'html/footer.html'%}
    </body>
</html>
